<!doctype html>
<html>
    <head>
        <title> Welcome!</title>
        <style>
             body {
                    background-color: #EE14B8;
                    padding: 10px;
                    margin: 0 auto;
                                              
                    font: 16px Lucinda Console;
                             
                    border-radius: 20px;
                }
                   
        </style>
    </head>
    <body>
        <h1> Welcome, {{username}} !</h1>
    </body>
</html>